.App {
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
}

.App .title {
  line-height: 38px;
}
.App .student_list li > span:first-child{
  padding: 0 1em 0 0;
}
.App .student_list li > span:first-child::after {
  content: '.'
}